<!doctype html/>
<html>
<head>
<title>{{ app_name }} {% block title %}Front Page{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="NoIndex, NoFollow" />
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" id="Stylesheet_jQueryUI" rel="stylesheet" type="text/css" />
<script id="Script_jQuery" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" type="text/javascript"></script>
<script id="Script_jQueryUI" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script id="Script_JsRender" src="//cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.75/jsrender.min.js" type="text/javascript"></script>
{% block head %}<!-- head things go here. -->{% endblock %}
</head>
<body>
{% block main %}<! -- Body stuff goes here. -->{% endblock %}
</body>
</html>
