<!doctype html/>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css?v=1">
<title>{{ app_name }} {% block title %}Base Template{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="NoIndex, NoFollow" />
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" id="Stylesheet_jQueryUI" rel="stylesheet" type="text/css" />
{% block head %}<!-- head things go here. -->{% endblock %}
</head>
<body>
{% block main %}<! -- Body stuff goes here. -->{% endblock %}
</body>
</html>
